.homepage-header {
  display: flex;
  justify-content: center;
  width: 50em;
  height: 10em;
  background: ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 15em;
}


h2 {
  display: flex;
  color: black;
  text-align: center;
  font-size: 4em;
  font-family: 'Sacramento', cursive;
  margin-top: .3em;
}

section {
  display: flex;
  justify-content: center;
}


/* RECORDED DREAM HISTORY CARDS */

.card-container {
  display: flex;
  height: 10em;
  width: 30em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.grey-card {
  background-color: lightgrey;
  height: 10em;
  width: 30em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.white-card {
  background-color: whitesmoke;
  height: 5em;
  width: 30em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

hr {
  width: 25em;
}
