
.index-header {
  display: flex;
  flex-flow: column wrap;
}

.h1-index {
  color: black;
  text-align: center;
  font-size: 5em;
  font-family: 'Sacramento', cursive;
  margin-top: 2em;
}

#cloud {
  font-size: 80px;
  position: center;
  margin-top: 0em;
  margin-left: 8.3em;
  color: purple;
}
